/* Border box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sfondo pagina */
  body {
    background-color: rgb(34, 216, 155);
  }
  
  /* Banner top  */
  .top-banner {
    margin: 0% auto;
    background: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 60px;
    padding-bottom: 52px;
  }
  
  /* Logo  */
  .logo {
    vertical-align: 40px;
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
  }
  
  /* Titolo */
  
  .titolo {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 45px;
    font-weight: bolder;
    padding-left: 65px;
  }
  
  /* Sezione centrale  */
  
  .container-main {
    width: 70%;
    height: 600px;
    background: white;
    margin: 40px auto;
    border-radius: 5px;
  }
  